<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field col-md-12">
    <label class="t3js-formengine-label">
        <f:translate id="form.importFile"/>
    </label>
    <f:form.upload id="importFile" name="import[importFile]" class="btn btn-default t3js-drag-uploader inlineNewFileUploadButton" additionalAttributes="{accept: '.csv', required: 'required'}" />
</div>